<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocuWare.Platform.ServerClient" version="12.2.1" targetFramework="net472" />
  <package id="DocuWare.Platform.ServerClient.Extensions" version="11.0.2" targetFramework="net472" />
  <package id="DocuWare.RestClient" version="10.5.358704" targetFramework="net472" />
  <package id="DocuWare.UriTemplates" version="10.5.358704" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.fr" version="6.2.0" targetFramework="net472" />
  <package id="log4net" version="2.0.15" targetFramework="net472" />
</packages>